.modal-body p {
margin-bottom: 10px;
}

.modal-header, .modal-footer {
border: none;
}

.modal-title {
font-weight: bold;
}
  

.modal-content {
    background-color: #efefef;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.35);
}